.wrapper{
    margin-top: 100px;
}
.headers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

a {
    text-decoration: none;
}

.text{
    font-family: sans-serif;
    color: white;
    padding-top: 80px;
    padding-left: 250px;
    font-size: 10px;
}
.Uli{
    display: flex;
    list-style: none;

}

.Uli li { 
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: sans-serif;
   
}

.text2{
    display: flex;
    color: white;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
}
.block3{
    width: 100%;
    height: 20vh;
    background: #121212;    
    display: flex;    
    align-items: center;
}   


.block1 {
    
    background: url('/img/main-screen__bgc.png');
    max-width: auto;
    height: 80vh;
    background-size: 100% 100%;
}

   .mm1{
    width: 100px;
    height: 100px;
    background: #121212;
    margin-top: 27px;
    margin-right: 25px;
    

    
   }
   .mother{
    display: flex;
    justify-content: center;
    margin-right: 355px;
}  
.kurs{
    list-style: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    border: none;
    height: 44px;
    width: 169px;
    color: white;
    cursor: pointer;
    margin-left: 150px;
    font-family: sans-serif;
}
.right__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    padding-left: 25px;
    height: 60px;
    font-weight: 400px;
    
}
.left__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    opacity: 0.4;
    font-family: sans-serif;
    font-size: 8px;
    padding-left: 50px;
    height: 60px;
}
.right__text2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    font-weight: 500px;
    font-family: sans-serif;
}
.line1{
    margin-bottom: 10px;
    width: 300px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.line2{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    width: 500px;
    height: 6px;
    left: 894px;
}
.number1{
    color: white;
    padding-left: 20px;
}
.rgtx1{
    opacity: 0.4;
}
.rgtx2{

    padding-left: 420px;
    color: white;
    opacity: 0.4;
}
